* {
    margin: 0px auto;
}

@font-face {
    font-family: "White Storm";
    src: url(fontes/White\ Storm.otf);
 }

body {
    background-image: url(img/pergaminho.jpg);
    background-color: rgb(223, 222, 222);
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'MedievalSharp', cursive; */
    font-family: "White Storm";
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#borda-menu {
    position: relative;
}

#banner {
    width: 1200px;
    margin-top: 80px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
}

#pergaminho {
    position: absolute;
    width: 450px;
    margin: 0px 810px;
}

#home {
    color: rgb(223, 222, 222);
    margin-left: 640px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
}

#sub {
    color: rgb(223, 222, 222);
    margin-left: 662px;
    margin-top: -55px;
    position: absolute;
    text-align: center;
}

#pag-projetos {
    color: black;
    margin-top: 140px;
    margin-left: 960px;
    position: absolute;
    font-size: 50px;
    z-index: 999999;
}

#pag-projetos:hover {
    text-shadow: 10px 5px 5px rgb(153, 115, 45);
}

#pag-ensino {
    color: black;
    margin-top: 210px;
    margin-left: 970px;
    position: absolute;
    font-size: 50px;
    z-index: 999999;
}

#pag-ensino:hover {
    text-shadow: 10px 5px 5px rgb(153, 115, 45);
}

#pag-habilidades {
    color: black;
    margin-top: 280px;
    margin-left: 970px;
    position: absolute;
    font-size: 50px;
    z-index: 999999;
}

#pag-habilidades:hover {
    text-shadow: 10px 5px 5px rgb(153, 115, 45);
}

#pag-contato {
    color: black;
    margin-top: 350px;
    margin-left: 970px;
    position: absolute;
    font-size: 50px;
    z-index: 999999;
}

#pag-contato:hover {
    text-shadow: 10px 5px 5px rgb(153, 115, 45);
}

#botao-voltar {
    color: black;
    margin-top: 481px;
    margin-left: 950px;
    position: absolute;
    font-size: 40px;
    z-index: 999999;
}

#botao-voltar:hover {
    text-shadow: 10px 5px 5px rgb(153, 115, 45);
}

#titulo {
    color: rgb(73, 72, 72);
    font-family: 'Lora', serif;
    font-size: 70px;
    position: absolute;
    justify-content: center;
    margin-top: -38px;
    margin-left: 300px;
}

#subtitulo {
    color: rgb(73, 72, 72);
    font-size: 20px;
    /* position: absolute; */
    justify-content: center;
    margin-top: 220px;
    /* margin-left: 310px; */
}

#redes-sociais {
    position: fixed;
    margin-top: 500px;
    margin-left: 3px;
}

#banner-linguagens {
    margin-top: 1000px;
}

#banner-html {
    margin-top: 250px;
    margin-left: 142px;
    width: 200px;
    height: 200px;
}

#descricao-html {
    position: absolute;
    margin-left: 210px;
}

#banner-js {
    margin-bottom: 20px;
    margin-left: 235px;
    width: 160px;
    height: 160px;
}

#descricao-js {
    position: absolute;
    margin-left: 600px;
}

#banner-css {
    margin-bottom: 15px;
    margin-left: 254px;
    width: 170px;
    height: 150px;
}

#descricao-css {
    position: absolute;
    margin-left: 1078px;
}

#elemento0 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 100px;
    height: 3px;
    margin-top: 350px;
    margin-left: 70px;
}

#elemento1 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 100px;
    height: 7px;
    margin-top: 340px;
    margin-left: 70px;
}

#elemento3 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 274px;
    height: 7px;
    margin-top: 340px;
    margin-left: 315px;
}

#elemento4 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 274px;
    height: 3px;
    margin-top: 350px;
    margin-left: 315px;
}

#elemento5 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 274px;
    height: 3px;
    margin-top: 350px;
    margin-left: 745px;
}

#elemento6 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 274px;
    height: 7px;
    margin-top: 340px;
    margin-left: 745px;
}

#elemento7 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 100px;
    height: 7px;
    margin-top: 340px;
    margin-left: 1170px;
}

#elemento2 {
    background-color: rgb(73, 72, 72);
    position: absolute;
    width: 100px;
    height: 3px;
    margin-top: 350px;
    margin-left: 1170px;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.color:hover
{
    color: rgb(0, 0, 0) !important;
}

.fade
{
        opacity:0.9;
}
.fade:hover
{
        opacity:1;
}


/* Página Contato */

#title-contato {
    margin-top: 20px;
    margin-left: 100px;
}

#contato {
    text-align: left;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    line-height: 30px;
    font-size: 25px;
}

#nome {
    padding-right: 260px;
    padding-bottom: 5px;
    background-image: url(img/fundo-papel-amassado1.png);
    border-radius: 5px;
    border-color: gray;
}

#email {
    padding-right: 260px;
    padding-bottom: 5px;
    background-image: url(img/fundo-papel-amassado1.png);
    border-radius: 5px;
    border-color: gray;
}

#celular {
    padding-bottom: 5px;
    background-image: url(img/fundo-papel-amassado1.png);
    border-radius: 5px;
    border-color: gray;
}

#mensagem {
    padding-right: 223px;
    padding-bottom: 100px;
    background-image: url(img/fundo-papel-amassado1.png);
    border-radius: 5px;
    border-color: gray;
}

#contato-adicional {
    margin-left: 582px;
    margin-top: -474px;
}

.email_tel {
    margin-left: 580px;
}

#enviar {
    font-family: 'Roboto Mono', monospace;;
}

/* Rodapé */

html, body {
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}