* {
    margin: 0px auto;
}

header {
    background-color: orange;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 50px 10px 10px 10px;
    height: 300px;
    border-color: 200px black;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

nav a video {
    width: 300px;

}

nav h3 {
    text-decoration: none;
}

footer {
    background-color: orange;
    height: 40px;
    margin-top: 227px;
    text-align: center;
}

#videos-paginas {
    margin-top: 50px;
    margin-left: 350px;
    width: 620px;
    height: 440px;
}

#paginas-indviduais {
    background-color: orange;
    height: 40px;
    margin-top: 46px;
    text-align: center;
}